In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_excel('products_with_ncm.xlsx', dtype=str)

df.head()

,CÓD. BARRA,DESCRIÇÃO,QUANTIDADE,PREÇO,NCM
0,070341180129,SENSOR OXIGENIO IRON CB300 2010 A 2015 201614,2,210,90318000
1,7909201087694,SENSOR OXIGENIO CONDOR SCOOTER NMAX160 2017 A ...,1,NaN,90318000
2,7909201058670,SENSOR OXIGENIO CONDOR NEO115 1210385,2,60,90318000
3,6920240718036,SUPORTE CELULAR LEHMOX PRETO 2259,5,NaN,39269090
4,6920240718036,SUPORTE CELULAR LEHMOX PRATEADO 2259,10,NaN,39269090

In [17]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2972 entries, 0 to 2971
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CÓD. BARRA  2813 non-null   str
 1   DESCRIÇÃO   2916 non-null   str
 2   QUANTIDADE  2864 non-null   str
 3   PREÇO       867 non-null    str
 4   NCM         2963 non-null   str
dtypes: str(5)
memory usage: 116.2 KB

In [18]:
df = df.dropna(how='all')
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2972 entries, 0 to 2971
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CÓD. BARRA  2813 non-null   str
 1   DESCRIÇÃO   2916 non-null   str
 2   QUANTIDADE  2864 non-null   str
 3   PREÇO       867 non-null    str
 4   NCM         2963 non-null   str
dtypes: str(5)
memory usage: 116.2 KB

In [19]:
df = df.dropna(subset=['DESCRIÇÃO'])

df['DESCRIÇÃO'] = (
    df['DESCRIÇÃO']
    .str.strip()
    .str.upper()
)
df['CÓD. BARRA'] = df['CÓD. BARRA'].str.strip()

df['CÓD. BARRA'] = df['CÓD. BARRA'].fillna('')
df['QUANTIDADE'] = df['QUANTIDADE'].fillna('0')
df['PREÇO'] = df['PREÇO'].fillna('0')
df['NCM'] = df['NCM'].fillna('')

df.info()

<class 'pandas.DataFrame'>
Index: 2916 entries, 0 to 2971
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CÓD. BARRA  2916 non-null   str
 1   DESCRIÇÃO   2916 non-null   str
 2   QUANTIDADE  2916 non-null   str
 3   PREÇO       2916 non-null   str
 4   NCM         2916 non-null   str
dtypes: str(5)
memory usage: 136.7 KB

In [20]:
df = df[df['DESCRIÇÃO'] != '']
df.info()

<class 'pandas.DataFrame'>
Index: 2902 entries, 0 to 2971
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CÓD. BARRA  2902 non-null   str
 1   DESCRIÇÃO   2902 non-null   str
 2   QUANTIDADE  2902 non-null   str
 3   PREÇO       2902 non-null   str
 4   NCM         2902 non-null   str
dtypes: str(5)
memory usage: 136.0 KB

In [21]:
df['QUANTIDADE'] = df['QUANTIDADE'].replace(r'^\s*$', np.nan, regex=True)
df['PREÇO'] = df['PREÇO'].replace(r'^\s*$', np.nan, regex=True)
df['NCM'] = df['NCM'].replace(r'^\s*$', np.nan, regex=True)

df['QUANTIDADE'] = pd.to_numeric(df['QUANTIDADE'], errors='coerce').fillna(0).astype(int)
df['PREÇO'] = pd.to_numeric(df['PREÇO'], errors='coerce').fillna(0).astype(float)
df['NCM'] = pd.to_numeric(df['NCM'], errors='coerce').fillna(0).astype(int)

df.info()

<class 'pandas.DataFrame'>
Index: 2902 entries, 0 to 2971
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CÓD. BARRA  2902 non-null   str
 1   DESCRIÇÃO   2902 non-null   str
 2   QUANTIDADE  2902 non-null   int64
 3   PREÇO       2902 non-null   float64
 4   NCM         2902 non-null   int64
dtypes: float64(1), int64(2), str(2)
memory usage: 136.0 KB

In [22]:
df.insert(0, 'ID', range(len(df)))
df.to_excel('../conversion/clean_products_conversion.xlsx', index=False)
df.head()

,ID,CÓD. BARRA,DESCRIÇÃO,QUANTIDADE,PREÇO,NCM
0,0,070341180129,SENSOR OXIGENIO IRON CB300 2010 A 2015 201614,2,210.0,90318000
1,1,7909201087694,SENSOR OXIGENIO CONDOR SCOOTER NMAX160 2017 A ...,1,0.0,90318000
2,2,7909201058670,SENSOR OXIGENIO CONDOR NEO115 1210385,2,60.0,90318000
3,3,6920240718036,SUPORTE CELULAR LEHMOX PRETO 2259,5,0.0,39269090
4,4,6920240718036,SUPORTE CELULAR LEHMOX PRATEADO 2259,10,0.0,39269090