In [1]:
import pandas as pd

In [12]:
df = pd.read_excel('clean_products_export.xlsx', dtype=str)
df.head()

,name,current_quantity,price,wholesale_price,wholesale_quantity,barcode
0,ABA TANQUE NXR 09/12 PTO INJ 09/12 WEST 357090.0,0,62.08,58,4,0
1,ABA TANQUE NXR 09/12 VRM CAUCAIA 09/10 357107.0,0,62.08,58,4,0
2,ABA TANQUE NXR 150 13/14 PTO 210629,0,90,80,4,7899988705907
3,ABA TANQUE NXR 150 14 VERM 210631,0,90,0,0,7899988705945
4,ABA TANQUE PHOENIX JET,0,38,36,4,0

In [13]:
df = df.drop(columns=['wholesale_price', 'wholesale_quantity'], axis=1)
df.head()

,name,current_quantity,price,barcode
0,ABA TANQUE NXR 09/12 PTO INJ 09/12 WEST 357090.0,0,62.08,0
1,ABA TANQUE NXR 09/12 VRM CAUCAIA 09/10 357107.0,0,62.08,0
2,ABA TANQUE NXR 150 13/14 PTO 210629,0,90,7899988705907
3,ABA TANQUE NXR 150 14 VERM 210631,0,90,7899988705945
4,ABA TANQUE PHOENIX JET,0,38,0

In [14]:
import json

In [15]:
def transform_to_struct(row):
    return {
        "old_id": 4593, # Dica: vocÃª pode usar row['id'] se tiver no CSV
        "name": row['name'], # Fechado o ]
        "product_type": "00",
        "measure_unit": "UNID",
        "conversion_factor": 1,
        "commission": 0,
        "ippt": "T",
        "obs": None, # Mudado de null para None
        "has_serial_numbers": False,
        "active": True,
        "details": [
            {
                "old_id": 4593,
                "description": None,
                "current_quantity": row['current_quantity'],
                "minimum_quantity": 0,
                "reserved_quantity": 0,
                "price": row['price'],
                "wholesale_price": 690,
                "wholesale_quantity": 2,
                "cost_price": 0,
                "average_cost": 0,
                "profit_margin": 0,
                "net_weight": "0.0000",
                "gross_weight": "0.0000",
                "origin": 0,
                "ncm_code": None,
                "ex_ncm_code": None,
                "cest_code": None,
                "classification_code": None,
                "cest_ind_escala": None,
                "fci_code": None,
                "manufacturer_cnpj": None,
                "reference": None,
                "barcodes": [
                    {
                        "multipler": 1,
                        "default": True,
                        "barcode": row['barcode']
                    }
                ],
                "serial_numbers": []
            }
        ],
        "categories": []
    }

In [16]:
json_list = df.apply(transform_to_struct, axis=1).tolist()

In [18]:
with open('gdoor_data_conversion_test.json', 'w', encoding='utf-8') as file:
    json.dump(json_list, file, ensure_ascii=False, indent=4)