In [2]:
import pandas as pd
import json

In [3]:
df = pd.read_excel('products_export.xlsx', dtype=str)

df.head()

,name,current_quantity,price,wholesale_price,wholesale_quantity,barcode
0,Aba tanque nxr 09/12 pto inj 09/12 west 357090.0,0,62.08,58,4,NaN
1,Aba tanque nxr 09/12 vrm caucaia 09/10 357107.0,0,62.08,58,4,NaN
2,Aba tanque nxr 150 13/14 pto 210629,0,90,80,4,7899988705907
3,Aba tanque nxr 150 14 verm 210631,0,90,0,0,7899988705945
4,Aba tanque phoenix jet,0,38,36,4,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4544 entries, 0 to 4543
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                4544 non-null   object
 1   current_quantity    4544 non-null   object
 2   price               4544 non-null   object
 3   wholesale_price     4544 non-null   object
 4   wholesale_quantity  4544 non-null   object
 5   barcode             515 non-null    object
dtypes: object(6)
memory usage: 213.1+ KB

In [5]:
df['barcode'] = df['barcode'].fillna('0')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4544 entries, 0 to 4543
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                4544 non-null   object
 1   current_quantity    4544 non-null   object
 2   price               4544 non-null   object
 3   wholesale_price     4544 non-null   object
 4   wholesale_quantity  4544 non-null   object
 5   barcode             4544 non-null   object
dtypes: object(6)
memory usage: 213.1+ KB

In [7]:
df['name'] = df['name'].str.upper()

df = df.drop_duplicates(subskeep=False)
repeated_names = df[df.duplicated(subset=['name'], keep=False)]
repeated_names.sort_values(by='name').head(6)

,name,current_quantity,price,wholesale_price,wholesale_quantity,barcode
4405,CAIXA DIREÇÃO XTZ125 IRON 025883,6,35,30,3,7895099122947
4431,CAIXA DIREÇÃO XTZ125 IRON 025883,1,35,30,3,785099122947
2383,KIT TRANSM CG 125 09/15 DAROM,0,120,0,0,0
2384,KIT TRANSM CG 125 09/15 DAROM,0,114,0,0,0
4278,PATINS FREIO BIZ 125 TRASEIRA EXTREMO EXT00101,5,25,20,3,0710371772245
4280,PATINS FREIO BIZ 125 TRASEIRA EXTREMO EXT00101,8,25,20,3,0710371771965

In [13]:
df.to_excel('clean_products_export.xlsx', index=False)