In [1]:
import pandas as pd
import json

In [2]:

with open('gweb_export.json', 'r') as file:
    data = json.load(file)

df = pd.json_normalize(
    data['products'],
    record_path=['details'],
    meta=['name'],
    errors='ignore'
    )

df.head()
# df.columns

,old_id,description,current_quantity,minimum_quantity,reserved_quantity,price,wholesale_price,wholesale_quantity,cost_price,average_cost,...,ex_ncm_code,cest_code,classification_code,cest_ind_escala,fci_code,manufacturer_cnpj,reference,barcodes,serial_numbers,name
0,1,None,0,0,0,62.08,58,4,31.04,0,...,None,NaN,None,None,None,None,302,[],[],Aba tanque nxr 09/12 pto inj 09/12 west 357090.0
1,2,None,0,0,0,62.08,58,4,31.04,0,...,None,NaN,None,None,None,None,303,[],[],Aba tanque nxr 09/12 vrm caucaia 09/10 357107.0
2,3,None,0,0,0,90.00,80,4,38.82,0,...,None,NaN,None,None,None,None,7899988705907,"[{'multiplier': 1, 'default': True, 'barcode':...",[],Aba tanque nxr 150 13/14 pto 210629
3,4,None,0,0,0,90.00,0,0,38.82,0,...,None,NaN,None,None,None,None,7899988705945,"[{'multiplier': 1, 'default': True, 'barcode':...",[],Aba tanque nxr 150 14 verm 210631
4,5,None,0,0,0,38.00,36,4,18.90,0,...,None,NaN,None,None,None,None,458,[],[],Aba tanque phoenix jet

In [3]:
df['barcode'] = df['barcodes'].str[0].str.get('barcode')

df = df[[
    'name',
    'current_quantity',
    'price',
    'wholesale_price',
    'wholesale_quantity',
    'barcode'
]]


df.head()

,name,current_quantity,price,wholesale_price,wholesale_quantity,barcode
0,Aba tanque nxr 09/12 pto inj 09/12 west 357090.0,0,62.08,58,4,NaN
1,Aba tanque nxr 09/12 vrm caucaia 09/10 357107.0,0,62.08,58,4,NaN
2,Aba tanque nxr 150 13/14 pto 210629,0,90.00,80,4,7899988705907
3,Aba tanque nxr 150 14 verm 210631,0,90.00,0,0,7899988705945
4,Aba tanque phoenix jet,0,38.00,36,4,NaN

In [39]:
df.to_excel('products_export.xlsx', index=False)